/* Container styles */
.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 0;
  /* border:  s; */
  align-items: center;
  
}

.staffheading {
  display: flex;
  justify-content: flex-start; /* Align the h4 to the left */
  align-items: center; /* Vertically center the h4 */
  height: 40px; /* Adjust height as needed */
  padding-left: 10px; /* Optional: Add padding to the left for spacing */
  background-color: #f0e2e2; /* Optional: background for better visibility */
  justify-content: space-between;
  margin-bottom: 25px;
}
.staffheading img{
  height: 55px;
  width: 54px;
  
}
.staffheading img:hover{
  cursor: pointer;
}

.staffheading h4 {

  margin: 0;
  font-size: 24px;
  color: #6e6767;
  font-weight: 600;
}
.tabs button {
  
  font-size: 10px;
 border-radius: 10px;
 
  
  
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  
}

.tabs button.active {
  background-color: #4caf50;
  color: white;
}

.tabs button:not(.active):hover {
  background-color: #ddd;
}

h2, h3 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Form container */
.staffmain form {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100px;
  margin: 0 auto;
}

/* Input fields */
.staffmain input, select {
  display: block;
  
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
}

input:focus, select:focus {
  border-color: #4caf50;
  outline: none;
}

.staffmain label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

/* Navigation buttons */
 button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin: 10px 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #45a049;
}

button:focus {
  outline: none;
}
