/* General container styling */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Arial, sans-serif;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
  }
  
  /* Button styling */
  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Input file button styling */
  input[type="file"] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Align text centrally */
  .text-center {
    text-align: center;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .container {
      width: 90%;
      padding: 10px;
    }
  
    .button {
      font-size: 14px;
      padding: 8px;
    }
  
    .title {
      font-size: 20px;
    }
  }
  