/* ForgotPassword.module.css */

.ForgotPassword {
    background-color: #f4f6f9; /* Light background */
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  h4 {
    text-align: center;
    color: #662f2f;
    font-size: 24px;    
    margin-bottom: 20px;
    font-weight: 600;
    margin-bottom: 50px;
  }
  
  .FormGroup {
    margin-bottom: 20px;
  }
  
  .FormLabel {
    margin-left: 37px;
    font-weight: 500;
    color: #1155d4;
  }
  
  .FormControl {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 100%;
  }
  
  .btn {
    width: 100%;
    padding: 9px;
    background-color: #007bff; /* Bootstrap primary blue */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .message {
    margin-top: 20px;
    text-align: center;
    color: #28a745; /* Success green */
    font-size: 14px;
  }
  
  .message.error {
    color: #dc3545; /* Error red */
  }
  